.SquareCard_card__LNSx8 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  text-decoration: none;
  aspect-ratio: 1/1;
  transition: background-color, gap, padding-bottom;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  border-bottom: 1px solid var(--grid-line-light);
}
[data-theme='dark'] .SquareCard_card__LNSx8,
[data-theme='dark']:not(:has([data-theme='light'])) .SquareCard_card__LNSx8 {
  border-color: var(--grid-line-dark);
}
[data-theme='light'] .SquareCard_card__LNSx8,
[data-theme='light']:not(:has([data-theme='dark'])) .SquareCard_card__LNSx8 {
  border-color: var(--grid-line-light);
}
.SquareCard_card__LNSx8 > * {
  margin: 0;
  width: 100%;
}
.SquareCard_card__LNSx8 .SquareCard_scanlines__xI3OA {
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.SquareCard_card__LNSx8.SquareCard_link__PsOMM:hover {
  padding-bottom: 3rem;
  gap: 1rem;
}
.SquareCard_card__LNSx8.SquareCard_link__PsOMM:hover .SquareCard_title__H8uS9 {
  margin-bottom: 0;
}
.SquareCard_card__LNSx8.SquareCard_link__PsOMM:hover
  .SquareCard_scanlines__xI3OA {
  opacity: 1;
}
.SquareCard_card__LNSx8.SquareCard_link__PsOMM:hover
  .SquareCard_leader__r12bK
  .SquareCard_icon__p27_T {
  transform: translateY(0);
  opacity: 1;
}
.SquareCard_card__LNSx8.SquareCard_link__PsOMM:hover
  .SquareCard_descriptionWrapper__z8WYX {
  grid-template-rows: 1fr;
  opacity: 1;
}
.SquareCard_card__LNSx8.SquareCard_link__PsOMM:hover
  .SquareCard_description__t1YGD {
  opacity: 1;
}
[data-theme='dark'] .SquareCard_card__LNSx8:hover,
[data-theme='dark']:not(:has([data-theme='light']))
  .SquareCard_card__LNSx8:hover {
  background-color: #0f001a;
}
[data-theme='light'] .SquareCard_card__LNSx8:hover,
[data-theme='light']:not(:has([data-theme='dark']))
  .SquareCard_card__LNSx8:hover {
  background-color: #ffc36e;
}
.SquareCard_card__LNSx8:hover .SquareCard_descriptionWrapper__z8WYX,
.SquareCard_card__LNSx8:hover .SquareCard_titleWrapper__S6a8w {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}
.SquareCard_card__LNSx8 .SquareCard_descriptionWrapper__z8WYX,
.SquareCard_card__LNSx8 .SquareCard_titleWrapper__S6a8w {
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.SquareCard_revealCard__Q_NDj {
  padding-bottom: 0;
  gap: 0;
}
.SquareCard_revealCard__Q_NDj:hover
  .SquareCard_revealDescriptionWrapper__GoIwP {
  grid-template-rows: 1fr;
  opacity: 1;
}
.SquareCard_revealCard__Q_NDj:hover
  .SquareCard_revealDescriptionWrapper__GoIwP
  .SquareCard_description__t1YGD {
  padding-bottom: 1.5rem;
}
.SquareCard_revealCard__Q_NDj.SquareCard_link__PsOMM:hover {
  padding-bottom: 0;
  gap: 0;
}
.SquareCard_revealCard__Q_NDj .SquareCard_titleWrapper__S6a8w {
  padding-bottom: 1.5rem;
}
.SquareCard_leader__r12bK {
  flex: 0 1;
  display: flex;
}
.SquareCard_leader__r12bK .SquareCard_leaderText__rKLXu {
  display: block;
  width: 100%;
  margin: 0;
}
.SquareCard_leader__r12bK .SquareCard_icon__p27_T {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.SquareCard_titleWrapper__S6a8w {
  display: flex;
  flex: 2 1;
  flex-direction: column;
  justify-content: flex-end;
}
.SquareCard_title__H8uS9 {
  font-size: 1.5rem;
  line-height: 1.2em;
  margin: 0;
}
@media (max-width: 1400px) {
  .SquareCard_title__H8uS9 {
    font-size: 1.4rem;
  }
}
@media (max-width: 1024px) {
  .SquareCard_title__H8uS9 {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .SquareCard_title__H8uS9 {
    font-size: 1.25rem;
  }
}
.SquareCard_title__H8uS9.SquareCard_noDescription__zLl9R {
  margin-bottom: 0.5rem;
}
.SquareCard_descriptionWrapper__z8WYX {
  display: grid;
  flex: 2 1;
  grid-template-rows: 1fr;
  opacity: 1;
}
.SquareCard_descriptionWrapper__z8WYX .SquareCard_description__t1YGD {
  opacity: 1;
  pointer-events: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
@media (min-width: 1024px) {
  .SquareCard_descriptionWrapper__z8WYX .SquareCard_description__t1YGD {
    font-size: 0.9rem;
    line-height: 1.5;
  }
}
.SquareCard_revealDescriptionWrapper__GoIwP {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition-property: grid-template-rows, opacity;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.SquareCard_revealDescriptionWrapper__GoIwP .SquareCard_description__t1YGD {
  overflow: hidden;
  color: var(--theme-elevation-750);
  pointer-events: none;
  padding: 0;
  margin: 0;
  height: auto;
  transition-property: padding;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.CardGrid_cardGrid__cXA_h {
  position: relative;
  color: var(--theme-elevation-1000);
}
.CardGrid_cardGrid__cXA_h .CardGrid_card__L_tRn {
  height: 100%;
  position: relative;
}
.CardGrid_introWrapper__91_xn {
  padding-bottom: var(--wrapper-padding-top);
}
@media (max-width: 1024px) {
  .CardGrid_introWrapper__91_xn {
    padding-bottom: 2rem;
  }
}
.CardGrid_richTextWrapper__RnzZ3 {
  grid-area: 1/1/1/-1;
  align-items: flex-start;
  justify-content: center;
  display: grid;
}
@media (max-width: 1024px) {
  .CardGrid_richText__705Vx {
    padding-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .CardGrid_richText__705Vx h2 {
    font-size: 1.4rem;
  }
}
.CardGrid_cards__fK8lE {
  position: relative;
}
.CardGrid_margins__Ha_aN {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: calc(var(--gutter-h) * -1);
  width: calc(100% + var(--gutter-h) * 2);
  height: 100%;
}
.CardGrid_margins__Ha_aN > * {
  position: relative;
}
.CardGrid_margins__Ha_aN .CardGrid_marginLeft__9gpNy,
.CardGrid_margins__Ha_aN .CardGrid_marginRight__hn4zU {
  position: relative;
  width: var(--gutter-h);
  display: block;
}
.CardGrid_cardsWrapper__VjNry {
  position: relative;
  border-top: 1px solid var(--grid-line-light);
}
.CardGrid_cardsWrapper__VjNry:after {
  content: '';
  width: calc(25% * var(--excess-length-large));
  height: 1px;
  background: var(--grid-line-light);
  position: absolute;
  bottom: 0;
  left: calc(100% - 25% * var(--excess-length-large));
}
@media (max-width: 1024px) {
  .CardGrid_cardsWrapper__VjNry:after {
    width: calc(50% * var(--excess-length-mid));
    left: calc(50% * var(--excess-length-mid));
  }
}
[data-theme='dark'] .CardGrid_cardsWrapper__VjNry,
[data-theme='dark']:not(:has([data-theme='light']))
  .CardGrid_cardsWrapper__VjNry {
  border-color: var(--grid-line-dark);
}
[data-theme='dark'] .CardGrid_cardsWrapper__VjNry:after,
[data-theme='dark']:not(:has([data-theme='light']))
  .CardGrid_cardsWrapper__VjNry:after {
  background: var(--grid-line-dark);
}
[data-theme='light'] .CardGrid_cardsWrapper__VjNry,
[data-theme='light']:not(:has([data-theme='dark']))
  .CardGrid_cardsWrapper__VjNry {
  border-color: var(--grid-line-light);
}
[data-theme='light'] .CardGrid_cardsWrapper__VjNry:after,
[data-theme='light']:not(:has([data-theme='dark']))
  .CardGrid_cardsWrapper__VjNry:after {
  background: var(--grid-line-light);
}
.CardGrid_cardsWrapper__VjNry .CardGrid_backgroundGrid__bWyAu {
  z-index: 5;
}
.CardGrid_cardsWrapper__VjNry > div {
  position: relative;
}
.CardGrid_cardsWrapper__VjNry > div:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  pointer-events: none;
}
.CardGrid_cardsWrapper__VjNry > div:hover:before {
  opacity: 0.2;
  background-image: var(--bg-image);
}
.CaseStudiesHighlight_content__litZL {
  max-width: 1200px;
}
.CaseStudiesHighlight_content__litZL h2 {
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0;
}
@media (max-width: 768px) {
  .CaseStudiesHighlight_content__litZL h2 {
    font-size: 2.5rem;
  }
}
.CaseStudiesHighlight_wrap__ib5bC {
  padding-top: var(--block-spacing);
  position: relative;
  overflow: hidden;
}
.CaseStudiesHighlight_inner__GJboq {
  width: 150vw;
  margin-left: -25vw;
}
.CaseStudiesHighlight_poweredByPayload__yYuUx {
  position: absolute;
  top: 4rem;
  z-index: 1;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .CaseStudiesHighlight_poweredByPayload__yYuUx {
    top: 1rem;
  }
}
.CaseStudiesHighlight_poweredByPayloadInner__Om__X {
  font-size: 1rem;
  line-height: 1.4em;
  letter-spacing: 0;
  box-shadow: 0 20px 35px -10px rgba(0, 2, 4, 0.2),
    0 6px 4px -4px rgba(0, 2, 4, 0.02);
  background: var(--theme-bg);
  padding: 1.5rem 2.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 4px solid;
}
@media (max-width: 1920px) {
  .CaseStudiesHighlight_poweredByPayloadInner__Om__X {
    font-size: 1.1rem;
  }
}
.CaseStudiesHighlight_poweredByPayloadInner__Om__X svg {
  margin-right: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 1024px) {
  .CaseStudiesHighlight_poweredByPayloadInner__Om__X {
    padding: 1rem 2rem;
  }
}
.CaseStudiesHighlight_row__JDQgf {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.CaseStudiesHighlight_row__JDQgf:nth-child(odd) {
  right: 20vh;
}
.CaseStudiesHighlight_row__JDQgf:nth-child(2n) {
  left: 20vh;
}
@media (max-width: 1600px) {
  .CaseStudiesHighlight_row__JDQgf {
    flex-wrap: wrap;
  }
  .CaseStudiesHighlight_row__JDQgf:nth-child(odd) {
    right: 15vh;
  }
  .CaseStudiesHighlight_row__JDQgf:nth-child(2n) {
    left: 15vh;
  }
}
@media (max-width: 1024px) {
  .CaseStudiesHighlight_row__JDQgf {
    flex-wrap: wrap;
  }
  .CaseStudiesHighlight_row__JDQgf:nth-child(odd) {
    right: 5vh;
  }
  .CaseStudiesHighlight_row__JDQgf:nth-child(2n) {
    left: 5vh;
  }
  .CaseStudiesHighlight_row__JDQgf:first-child li:first-child,
  .CaseStudiesHighlight_row__JDQgf:last-child li:last-child {
    display: none;
  }
}
.CaseStudiesHighlight_imageWrap__dqXgj {
  width: 33.33%;
  padding: 1rem;
}
@media (max-width: 1600px) {
  .CaseStudiesHighlight_imageWrap__dqXgj {
    padding: 0.5rem;
  }
}
@media (max-width: 1024px) {
  .CaseStudiesHighlight_imageWrap__dqXgj {
    width: 50%;
  }
}
.CaseStudiesHighlight_image__eb2Ea {
  display: block;
  transition: all 0.2s ease-out;
  padding-top: 56.25%;
  position: relative;
  height: 100%;
  opacity: 0.3;
}
.CaseStudiesHighlight_image__eb2Ea:hover {
  box-shadow: 0 20px 35px -10px rgba(0, 2, 4, 0.2),
    0 6px 4px -4px rgba(0, 2, 4, 0.02);
  opacity: 1;
  transform: translate3d(0, -1rem, 0);
}
@media (max-width: 1024px) {
  .CaseStudiesHighlight_image__eb2Ea {
    opacity: 1;
    transition: none;
  }
  .CaseStudiesHighlight_image__eb2Ea:hover {
    transform: none;
    box-shadow: none;
  }
}
.CaseStudyCards_caseStudyCards__3shge {
  position: relative;
}
.CaseStudyCards_cards__o9cLI {
  position: relative;
  padding: 4rem 0;
}
@media (max-width: 1024px) {
  .CaseStudyCards_cards__o9cLI {
    padding: 2rem 0;
  }
}
.CaseStudyCards_gutter__FQhgB {
  position: relative;
}
.CaseStudyCards_scanline__Oz5Zg {
  --margin: min(calc(var(--gutter-h) / 2), 4rem);
  margin-left: var(--margin);
  margin-right: var(--margin);
  width: calc(100% - var(--margin) * 2);
}
@media (max-width: 1024px) {
  .CaseStudyCards_scanline__Oz5Zg {
    --margin: auto;
    width: 100%;
  }
}
.CaseStudyCards_card__xljiT {
  position: relative;
  border: 1px solid var(--grid-line-dark);
  display: flex;
  text-decoration: none;
  background-color: var(--theme-bg);
  transition: border 0.2s ease-out;
}
[data-theme='dark'] .CaseStudyCards_card__xljiT,
[data-theme='dark']:not(:has([data-theme='light']))
  .CaseStudyCards_card__xljiT {
  border-color: var(--grid-line-dark);
}
[data-theme='light'] .CaseStudyCards_card__xljiT,
[data-theme='light']:not(:has([data-theme='dark']))
  .CaseStudyCards_card__xljiT {
  border-color: var(--grid-line-light);
}
.CaseStudyCards_card__xljiT:not(:last-child) {
  margin-bottom: 2rem;
}
.CaseStudyCards_card__xljiT:hover {
  border: 1px solid var(--theme-text);
}
.CaseStudyCards_card__xljiT:hover .CaseStudyCards_media__sZ6FA img {
  transform: scale(1.05) rotate(-1deg);
}
.CaseStudyCards_card__xljiT:hover .CaseStudyCards_media__sZ6FA:after {
  opacity: 0.5;
}
@media (max-width: 768px) {
  .CaseStudyCards_card__xljiT {
    flex-direction: column;
  }
}
.CaseStudyCards_content__ZkMm9 {
  padding: 4rem 3rem;
  width: auto;
  flex-shrink: 0;
  flex: 1 1;
}
@media (max-width: 1600px) {
  .CaseStudyCards_content__ZkMm9 {
    padding: 3rem 1.5rem;
  }
}
@media (max-width: 768px) {
  .CaseStudyCards_content__ZkMm9 {
    padding: 1.5rem 1rem;
  }
}
.CaseStudyCards_content__ZkMm9 * {
  margin-top: 0;
}
.CaseStudyCards_media__sZ6FA {
  position: relative;
  width: 50%;
  flex-shrink: 0;
  min-height: 150px;
  overflow: hidden;
}
.CaseStudyCards_media__sZ6FA:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--theme-elevation-700);
  opacity: 0;
  mix-blend-mode: hard-light;
  transition: opacity 0.25s ease;
}
.CaseStudyCards_media__sZ6FA img {
  object-fit: cover;
  transition: transform 0.3s ease;
}
@media (max-width: 768px) {
  .CaseStudyCards_media__sZ6FA {
    width: 100%;
  }
  .CaseStudyCards_media__sZ6FA:after {
    display: none;
  }
}
.CaseStudyCards_bg__rp1Aq {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + var(--gutter-h));
  height: 100%;
  margin-left: calc(var(--gutter-h) / -2);
}
@media (max-width: 1024px) {
  .CaseStudyCards_bg__rp1Aq {
    margin-left: calc(var(--gutter-h) * -1);
    width: calc(100% + var(--gutter-h) * 2);
  }
}
.CaseStudyParallax_wrapper__yH_7R {
  position: relative;
}
.CaseStudyParallax_mainGutter__ME50r {
  position: relative;
  margin-bottom: -8rem;
}
.CaseStudyParallax_card__zLhfl {
  position: relative;
  padding-top: 4rem;
}
.CaseStudyParallax_card__zLhfl.CaseStudyParallax_isFirst__EfcgW {
  margin-top: -12rem;
  grid-column: 1/-1;
  grid-row: 1/1;
}
.CaseStudyParallax_card__zLhfl .CaseStudyParallax_media__XIPqn {
  margin-right: calc(var(--gutter-h) / -1 + 1px);
}
.CaseStudyParallax_card__zLhfl .CaseStudyParallax_media__XIPqn img {
  right: -1px;
}
@media (max-width: 1024px) {
  .CaseStudyParallax_card__zLhfl .CaseStudyParallax_media__XIPqn img {
    right: unset;
  }
  .CaseStudyParallax_card__zLhfl .CaseStudyParallax_media__XIPqn {
    margin-right: 1px;
    margin-left: 1px;
  }
}
.CaseStudyParallax_card__zLhfl:last-of-type {
  padding-bottom: 2rem;
}
@media (max-width: 1024px) {
  .CaseStudyParallax_card__zLhfl:last-of-type {
    padding-bottom: 0;
  }
}
.CaseStudyParallax_stickyBlock__PgVq1 {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  z-index: 6;
  grid-column: 1/-1;
  grid-row: 1/1;
  pointer-events: none;
  align-items: center;
}
@media (max-width: 1024px) {
  .CaseStudyParallax_stickyBlock__PgVq1 {
    display: none;
  }
}
.CaseStudyParallax_stickyBlockItem__ToOrp {
  grid-column: 1/9;
  grid-row: 1/1;
  opacity: 0;
  visibility: hidden;
  position: relative;
  will-change: opacity, visibility;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
}
.CaseStudyParallax_stickyBlockItem__ToOrp.CaseStudyParallax_isVisible__z7Xj3 {
  pointer-events: all;
  opacity: 1;
  transition: all 0.35s ease-in-out;
  visibility: visible;
}
.CaseStudyParallax_stickyBlockItem__ToOrp:last-of-type {
  opacity: 0;
  visibility: hidden;
  margin-bottom: -30rem;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
}
.CaseStudyParallax_stickyBlockItem__ToOrp:last-of-type.CaseStudyParallax_isVisible__z7Xj3 {
  opacity: 1;
  visibility: visible;
  margin-bottom: -26rem;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
}
@media (max-width: 1400px) {
  .CaseStudyParallax_stickyBlockItem__ToOrp:last-of-type {
    opacity: 0;
    visibility: hidden;
    margin-bottom: -50rem;
    transition: all 0.35s ease-in-out;
  }
  .CaseStudyParallax_stickyBlockItem__ToOrp:last-of-type.CaseStudyParallax_isVisible__z7Xj3 {
    opacity: 1;
    visibility: visible;
    margin-bottom: -40rem;
    transition: all 0.35s ease-in-out;
  }
}
.CaseStudyParallax_quoteIcon__Q8IrC {
  position: absolute;
  width: 10rem;
  height: auto;
  color: var(--theme-elevation-250);
  left: -2.4rem;
  top: -5.6rem;
}
@media (max-width: 1600px) {
  .CaseStudyParallax_quoteIcon__Q8IrC {
    left: -1.8rem;
    top: -4.5rem;
    width: 8rem;
  }
}
@media (max-width: 1024px) {
  .CaseStudyParallax_quoteIcon__Q8IrC {
    display: none;
  }
}
.CaseStudyParallax_quoteIcon__Q8IrC path {
  stroke: var(--theme-elevation-200);
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}
.CaseStudyParallax_quote__iXust {
  font-size: 2.2rem;
  line-height: 1.3;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.8rem 0 2rem;
  position: relative;
  letter-spacing: 0;
}
@media (max-width: 768px) {
  .CaseStudyParallax_quote__iXust {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
.CaseStudyParallax_scanlineWrapper__dA1ne {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .CaseStudyParallax_scanlineWrapper__dA1ne {
    display: none;
  }
}
.CaseStudyParallax_mainTrack__PCB8p {
  scroll-snap-type: y mandatory;
  position: relative;
  scroll-snap-align: center;
  overflow: visible;
  row-gap: 12rem;
  padding-top: 16rem;
  padding-bottom: 10rem;
  margin-bottom: -80vh;
}
@media (max-width: 1400px) {
  .CaseStudyParallax_mainTrack__PCB8p {
    padding-top: 24rem;
    row-gap: 16rem;
  }
}
@media (max-width: 1024px) {
  .CaseStudyParallax_mainTrack__PCB8p {
    margin-bottom: 0;
    row-gap: 4rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
}
.CaseStudyParallax_media__XIPqn {
  position: relative;
}
.CaseStudyParallax_media__XIPqn img {
  object-fit: cover;
  position: relative;
}
.CaseStudyParallax_mobileQuoteItem__f1GG9 {
  display: none;
  margin-top: 2rem;
}
@media (max-width: 1024px) {
  .CaseStudyParallax_mobileQuoteItem__f1GG9 {
    display: grid;
  }
}
.CaseStudyParallax_caseStudyButton__7oVxr {
  width: 100%;
}
@media (max-width: 768px) {
  .CaseStudyParallax_caseStudyButton__7oVxr {
    width: calc(100% - 1px);
  }
}
.CaseStudyParallax_authorWrapper__ZOzHE {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .CaseStudyParallax_authorWrapper__ZOzHE {
    margin-bottom: 1rem;
  }
}
.CaseStudyParallax_author__OrUtf {
  opacity: 0.8;
  margin: 1.2rem 0;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0;
}
@media (max-width: 1600px) {
  .CaseStudyParallax_author__OrUtf {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .CaseStudyParallax_author__OrUtf {
    font-size: 1rem;
  }
}
.CaseStudyParallax_navWrapper__PtIWV {
  position: -webkit-sticky;
  position: sticky;
  height: 80vh;
  bottom: 0;
  z-index: 7;
  display: flex;
  align-items: flex-end;
  margin-left: calc(var(--gutter-h) / -1);
  margin-right: calc(var(--gutter-h) / -1);
  pointer-events: none;
}
@media (max-width: 1024px) {
  .CaseStudyParallax_navWrapper__PtIWV {
    display: none;
  }
}
.CaseStudyParallax_nav__24Tsa {
  position: relative;
  border-top: 1px solid var(--theme-elevation-200);
  background-color: var(--theme-bg);
  width: 100%;
  pointer-events: all;
  min-height: 5rem;
}
.CaseStudyParallax_navGrid__KIOiA {
  position: relative;
}
@media (max-width: 1024px) {
  .CaseStudyParallax_navGrid__KIOiA {
    scroll-behavior: smooth;
    overflow-x: scroll;
    grid-template-columns: repeat(
      4,
      calc(100vw - var(--gutter-h) * 2 - var(--scrollbar-width))
    );
  }
}
.CaseStudyParallax_progressIndicator__TmBba {
  grid-column: 1/-1;
  position: relative;
}
.CaseStudyParallax_progressIndicator__TmBba:before {
  content: '';
  height: 2px;
  background: var(--theme-elevation-1000);
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 7;
  transition: width 0.05s linear;
  will-change: width;
  width: calc(var(--progress-width));
}
.CaseStudyParallax_navBackgroundGrid__wenOo {
  z-index: 5;
}
@media (max-width: 1024px) {
  .CaseStudyParallax_navBackgroundGrid__wenOo > :first-of-type {
    display: none;
  }
  .CaseStudyParallax_navItem__4eymO {
    width: 100%;
  }
  .CaseStudyParallax_navItem__4eymO:nth-of-type(2) {
    grid-column: 1/2;
  }
  .CaseStudyParallax_navItem__4eymO:nth-of-type(3) {
    grid-column: 2/3;
  }
  .CaseStudyParallax_navItem__4eymO:nth-of-type(4) {
    grid-column: 3/4;
  }
  .CaseStudyParallax_navItem__4eymO:nth-of-type(5) {
    grid-column: 4/5;
  }
}
.CaseStudyParallax_navItem__4eymO .CaseStudyParallax_navButton__jUFIe {
  border-top: none;
  width: 100%;
}
.CaseStudyParallax_navItem__4eymO
  .CaseStudyParallax_navButton__jUFIe:hover
  .CaseStudyParallax_navButtonLabel__DwU5T {
  opacity: 1;
}
.CaseStudyParallax_navItem__4eymO
  .CaseStudyParallax_navButton__jUFIe
  .CaseStudyParallax_navButtonLabel__DwU5T {
  padding: 0.5rem 0;
  opacity: 0.6;
}
.CaseStudyParallax_navItem__4eymO
  .CaseStudyParallax_navButton__jUFIe.CaseStudyParallax_isActive__AJIpP
  .CaseStudyParallax_navButtonLabel__DwU5T {
  opacity: 1;
}
.CaseStudyParallax_logo__WMMp0 {
  max-width: 6rem;
  height: auto;
}
.group-active .Button_button__9Ivrl {
  transform: scale(1);
  opacity: 1;
}
.Button_button__9Ivrl {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
  color: currentColor;
  font-size: var(--font-body-size);
  font-family: var(--font-body);
  aspect-ratio: 1/1;
  width: auto;
  height: auto;
  padding: 0.75rem;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.8rem;
  right: -3.5rem;
  z-index: 2;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Button_button__9Ivrl,
.Button_button__9Ivrl.Button_hidden__sDsEX {
  transform: scale(0);
  opacity: 0;
}
.Button_button__9Ivrl .Button_border__IevEn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
}
.Button_button__9Ivrl .Button_pulse__ZCiZJ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation: Button_Pulse__bhMAu 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  display: none;
}
.Button_button__9Ivrl .Button_hoverBg__fhFYb {
  transform: scale(0);
  filter: grayscale(100%);
  z-index: -1;
}
.Button_button__9Ivrl .Button_hoverBg__fhFYb,
.Button_button__9Ivrl:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 100%;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0.25;
  background: var(--color-base-0);
}
.Button_button__9Ivrl:before {
  content: '';
  animation: Button_PulseAlt__JJh8B 2s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  animation-fill-mode: forwards;
  animation-delay: var(--animation-delay);
  transform: scale(0.35);
}
.Button_button__9Ivrl:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 100%;
  transition: transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0.25;
  transform: scale(0);
  animation: Button_Pulse__bhMAu 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-fill-mode: forwards;
  animation-delay: var(--animation-delay);
  pointer-events: none;
  z-index: -1;
  background: var(--color-base-0);
}
.Button_button__9Ivrl:hover {
  cursor: pointer;
}
.Button_button__9Ivrl:hover .Button_hoverBg__fhFYb {
  transform: scale(1);
  filter: grayscale(0);
}
.Button_button__9Ivrl:hover:before {
  transform: scale(1.1);
  opacity: 0.25;
}
.Button_button__9Ivrl svg {
  width: 1.35rem;
  height: auto;
  border: 1px solid var(--color-base-0);
  background: var(--color-base-0);
  border-radius: 100%;
  color: var(--color-base-1000);
}
@keyframes Button_PulseAlt__JJh8B {
  0% {
    transform: scale(0.35);
    opacity: 0.125;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes Button_Pulse__bhMAu {
  0% {
    transform: scale(1);
    opacity: 0.25;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
.Button_codeFeature__g2WqS {
  position: absolute;
  right: -2rem;
  bottom: 0;
  z-index: 1;
}
.Button_codeFeature__g2WqS .Button_content__BylSs {
  position: absolute;
  visibility: hidden;
  width: max-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 1rem;
  background: var(--theme-elevation-0);
  max-width: max(400%, 20rem);
  left: 0;
  z-index: 3;
}
@media (max-width: 768px) {
  .Button_codeFeature__g2WqS .Button_content__BylSs {
    max-width: max(90vw, 4rem);
  }
}
.Button_codeFeature__g2WqS .Button_content__BylSs.Button_active__AIc_N {
  visibility: visible;
}
.Modal_modal__VeR4D {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 4%, 0.51);
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  padding: 5rem;
  overscroll-behavior: contain;
  overflow: auto;
}
@media (max-width: 1024px) {
  .Modal_modal__VeR4D {
    padding: 2rem;
  }
}
.Modal_modal__VeR4D:before {
  content: '';
  position: absolute;
  background: var(--color-base-0);
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
}
.Modal_label__LxVjY {
  font-size: 13px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 1.2rem 0 1.75rem;
}
@media (max-width: 1600px) {
  .Modal_label__LxVjY {
    font-size: 12px;
  }
}
[data-theme='dark'] .Modal_label__LxVjY,
[data-theme='dark']:not(:has([data-theme='light'])) .Modal_label__LxVjY {
  color: var(--color-base-0);
}
[data-theme='light'] .Modal_label__LxVjY,
[data-theme='light']:not(:has([data-theme='dark'])) .Modal_label__LxVjY {
  color: var(--color-base-0);
}
[data-theme='dark'] .Modal_richText__Ki1Mb,
[data-theme='dark']:not(:has([data-theme='light'])) .Modal_richText__Ki1Mb {
  color: var(--color-base-0);
}
[data-theme='light'] .Modal_richText__Ki1Mb,
[data-theme='light']:not(:has([data-theme='dark'])) .Modal_richText__Ki1Mb {
  color: var(--color-base-0);
}
.Modal_close__5yg7O {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
  color: currentColor;
  font-size: var(--font-body-size);
  font-family: var(--font-body);
  color: var(--color-base-400);
  position: absolute;
  right: 3rem;
  top: 3rem;
  padding: 1.25rem;
  border: 1px solid var(--color-base-400);
  border-radius: 100%;
  aspect-ratio: 1/1;
  display: flex;
  transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (max-width: 1024px) {
  .Modal_close__5yg7O {
    right: 2rem;
    top: 2rem;
    padding: 0.5rem;
  }
  .Modal_close__5yg7O svg {
    height: auto;
    width: 0.75rem;
  }
}
.Modal_close__5yg7O svg {
  height: auto;
  width: 1.25rem;
}
.Modal_close__5yg7O:hover {
  cursor: pointer;
  color: var(--color-base-200);
  border-color: var(--color-base-200);
}
.Code_codeWrap__cGPns {
  min-height: 24rem;
  display: flex;
  align-items: center;
  overflow-x: auto;
  background-color: var(--theme-elevation-100);
}
.Code_disableMinHeight__XTKwL {
  min-height: 0;
}
.Code_code__BTtCd {
  width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-text-size-adjust: 100%;
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-base-100);
  font-family: var(--font-mono), Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
  position: relative;
}
.Code_code__BTtCd::-webkit-scrollbar {
  background-color: transparent;
  height: 8px;
  cursor: pointer;
}
.Code_code__BTtCd::-webkit-scrollbar-thumb {
  background-color: var(--color-base-800);
  border-radius: 0;
  cursor: pointer;
}
.Code_code__BTtCd::-webkit-scrollbar-corner {
  background-color: transparent;
}
.Code_code__BTtCd .token.cdata,
.Code_code__BTtCd .token.comment,
.Code_code__BTtCd .token.doctype,
.Code_code__BTtCd .token.prolog,
.Code_code__BTtCd .token.punctuation {
  color: var(--color-base-500);
}
.Code_code__BTtCd .token.atrule,
.Code_code__BTtCd .token.attr-value,
.Code_code__BTtCd .token.keyword,
.Code_code__BTtCd .token.plain {
  color: var(--color-success-250);
}
.Code_code__BTtCd .token.boolean,
.Code_code__BTtCd .token.constant,
.Code_code__BTtCd .token.deleted,
.Code_code__BTtCd .token.number,
.Code_code__BTtCd .token.symbol,
.Code_code__BTtCd .token.tag {
  color: var(--color-error-500);
}
.Code_code__BTtCd .token.attr-name,
.Code_code__BTtCd .token.builtin,
.Code_code__BTtCd .token.char,
.Code_code__BTtCd .token.inserted {
  color: var(--color-base-100);
}
.Code_code__BTtCd .language-css .token.string,
.Code_code__BTtCd .style .token.string,
.Code_code__BTtCd .token.entity,
.Code_code__BTtCd .token.operator,
.Code_code__BTtCd .token.url {
  color: var(--color-base-500);
}
.Code_code__BTtCd .token-property,
.Code_code__BTtCd .token.function,
.Code_code__BTtCd .token.selector {
  color: var(--color-success-500);
}
.Code_code__BTtCd .token.class-name,
.Code_code__BTtCd .token.important,
.Code_code__BTtCd .token.regex,
.Code_code__BTtCd .token.string,
.Code_code__BTtCd .token.variable {
  color: var(--color-warning-500);
}
.Code_code__BTtCd .token.bold,
.Code_code__BTtCd .token.important {
  font-weight: 700;
}
.Code_code__BTtCd .token.italic {
  font-style: italic;
}
.Code_code__BTtCd .token.entity {
  cursor: help;
}
.Code_code__BTtCd .token-line {
  display: block;
  text-wrap: nowrap;
}
.Code_code__BTtCd .token-line:not(:last-child) {
  height: auto;
  min-height: 1rem;
}
.Code_code__BTtCd .highlight-line {
  position: relative;
}
.Code_code__BTtCd .highlight-line > * {
  position: relative;
  z-index: 2;
}
.Code_code__BTtCd .highlight-line:before {
  content: ' ';
  z-index: 1;
  background-color: var(--color-base-900);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (max-width: 1600px) {
  .Code_code__BTtCd {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  .Code_code__BTtCd {
    padding: 1rem;
    font-size: 13px;
  }
  .Code_code__BTtCd .highlight-line:before {
    right: calc(var(--gutter-h) * -1);
    left: calc(var(--gutter-h) * -1);
  }
}
.Code_lineCodeWrapper__g0OaV {
  position: relative;
  display: inline-block;
}
.Code_lineCodeWrapper__g0OaV span {
  text-wrap: nowrap;
}
.Code_lineNumber__XZgDa {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-align: right;
  color: var(--theme-elevation-400);
  padding-right: 1.5rem;
  width: 2.5rem;
}
@media (max-width: 1024px) {
  .Code_lineNumber__XZgDa {
    display: none;
  }
}
.Code_line__q5GJ_ {
  display: block;
  position: relative;
}
.CodeBlock_codeBlock__VkpFX {
  margin: 1rem 0;
}
.CodeBlock_container__jEleq {
  position: relative;
}
.CodeFeature_wrapper___Ci5S.CodeFeature_darkTheme__sJbB4 {
  background: var(--color-base-950);
}
.CodeFeature_wrapper___Ci5S.CodeFeature_darkTheme__sJbB4
  .CodeFeature_backgroundGrid__SFjRu {
  z-index: 0;
}
.CodeFeature_container__MhTUf {
  position: relative;
  align-items: center;
  row-gap: 3rem;
}
@media (max-width: 1024px) {
  .CodeFeature_container__MhTUf {
    row-gap: 0;
  }
  .CodeFeature_container__MhTUf.CodeFeature_hasLinks__gC8JM {
    row-gap: 2rem;
  }
}
.CodeFeature_content__6JdQw {
  position: relative;
  z-index: 1;
}
.CodeFeature_labelWrap__zOS__ {
  padding: 1rem 1rem 0;
}
.CodeFeature_label__jthgZ {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-base-700);
  color: var(--color-base-100);
  margin: 0;
}
.CodeFeature_heading__UP5RW {
  margin-top: 0;
}
.CodeFeature_richText__1nZHf {
  margin-bottom: 1.5rem;
}
.CodeFeature_links__0M9k7,
.CodeFeature_links__0M9k7 > * {
  width: 100%;
}
.CodeFeature_tabsWrapper__tlNHr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border: 1px solid var(--theme-elevation-200);
}
@media (max-width: 1024px) {
  .CodeFeature_tabsWrapper__tlNHr {
    position: relative;
  }
}
.CodeFeature_parentCodeWrapper__X29v8 {
  align-items: unset;
}
@media (max-width: 1024px) {
  .CodeFeature_parentCodeWrapper__X29v8 {
    margin: 0;
  }
  .CodeFeature_code__DS7Oo {
    overflow: unset;
  }
}
.CodeFeature_tabs__hN8HD {
  position: relative;
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  background: var(--color-base-900);
  overflow-x: auto;
  scroll-behavior: smooth;
}
.CodeFeature_tabs__hN8HD::-webkit-scrollbar {
  background-color: transparent;
  height: 8px;
  cursor: pointer;
}
.CodeFeature_tabs__hN8HD::-webkit-scrollbar-thumb {
  background-color: var(--color-base-800);
  border-radius: 0;
  cursor: pointer;
}
.CodeFeature_tabs__hN8HD::-webkit-scrollbar-corner {
  background-color: transparent;
}
.CodeFeature_tabs__hN8HD.CodeFeature_hasMultiple__kz5K3 {
  border-bottom: 1px solid var(--color-base-600);
}
@media (max-width: 1024px) {
  .CodeFeature_tabs__hN8HD {
    padding: 0 1rem;
  }
}
.CodeFeature_hiddenTab__gJXSc {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.CodeFeature_tabIndicator__dQM5a {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  bottom: 0;
  background: var(--color-base-200);
  transition: width var(--trans-default) linear,
    left var(--trans-default) linear;
}
.CodeFeature_tab__kYU_9 {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
  color: currentColor;
  font-family: var(--font-body);
  cursor: pointer;
  padding: 1rem 0;
  font-size: var(--font-body-size);
  line-height: 1.5;
  letter-spacing: 0;
  line-spacing: 0;
  color: var(--color-base-300);
  white-space: nowrap;
}
.CodeFeature_tab__kYU_9.CodeFeature_isActive__upacZ,
.CodeFeature_tab__kYU_9:hover {
  color: var(--color-base-50);
}
.CodeFeature_scanlineWrapper__H_s_t {
  position: relative;
  width: 100%;
}
@media (max-width: 1024px) {
  .CodeFeature_scanlineWrapper__H_s_t {
    display: none;
  }
}
.CodeFeature_crosshairBottomLeft__twQiW,
.CodeFeature_crosshairBottomRight__xJxVe,
.CodeFeature_crosshairTopLeft__sZLXL,
.CodeFeature_crosshairTopRight__TSTo5 {
  position: absolute;
  width: 1rem;
  height: auto;
  color: var(--theme-elevation-1000);
  opacity: 0.5;
}
.CodeFeature_crosshairTopLeft__sZLXL {
  top: -0.5rem;
  left: -0.5rem;
}
.CodeFeature_crosshairBottomLeft__twQiW {
  bottom: -0.5rem;
  left: -0.5rem;
}
.CodeFeature_crosshairTopRight__TSTo5 {
  top: -0.5rem;
  right: -0.5rem;
}
.CodeFeature_crosshairBottomRight__xJxVe {
  bottom: -0.5rem;
  right: -0.5rem;
}
.CodeFeature_scanlineDesktopLeft__9IzJa,
.CodeFeature_scanlineDesktopRight__HvqXF {
  width: calc(100% + var(--gutter-h) * 1);
}
.CodeFeature_scanlineDesktopRight__HvqXF {
  margin-right: calc(var(--gutter-h) * -1);
}
.CodeFeature_scanlineDesktopLeft__9IzJa {
  margin-left: calc(var(--gutter-h) * -1);
}
.CodeFeature_scanlineMobile__mmMCX {
  display: none;
}
@media (max-width: 1024px) {
  .CodeFeature_scanlineMobile__mmMCX {
    display: block;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% + 4px);
    width: calc(100% + var(--gutter-h) * 2);
    margin-left: calc(var(--gutter-h) * -1);
    margin-right: calc(var(--gutter-h) * -1);
  }
}
.CodeFeature_codeBlockWrapper__gEyRK {
  position: relative;
  background-color: var(--color-base-900);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow-x: auto;
}
.CodeFeature_codeBlockWrapper__gEyRK::-webkit-scrollbar {
  background-color: transparent;
  height: 8px;
  cursor: pointer;
}
.CodeFeature_codeBlockWrapper__gEyRK::-webkit-scrollbar-thumb {
  background-color: var(--color-base-800);
  border-radius: 0;
  cursor: pointer;
}
.CodeFeature_codeBlockWrapper__gEyRK::-webkit-scrollbar-corner {
  background-color: transparent;
}
.CodeFeature_codeBlock___ED3k {
  position: relative;
  display: block;
  visibility: hidden;
  grid-column: 1/1;
  grid-row: 1/1;
}
.CodeFeature_codeBlock___ED3k.CodeFeature_isActive__upacZ {
  visibility: visible;
}
.Content_leadingHeader__dDngs {
  margin-bottom: 2rem;
  max-width: 1400px;
}
@media (max-width: 1920px) {
  .Content_leadingHeader__dDngs {
    max-width: 1200px;
  }
}
@media (max-width: 1600px) {
  .Content_leadingHeader__dDngs {
    max-width: 900px;
  }
}
.ContentGrid_wrapper__JlYue.ContentGrid_gridBelow__YCfaF {
  align-items: center;
}
.ContentGrid_topContent__pUGBZ {
  align-items: start;
  row-gap: 2rem;
}
.ContentGrid_topContent__pUGBZ.ContentGrid_gridBelow__YCfaF {
  margin-bottom: 6rem;
}
@media (max-width: 1024px) {
  .ContentGrid_topContent__pUGBZ,
  .ContentGrid_topContent__pUGBZ.ContentGrid_gridBelow__YCfaF {
    margin-bottom: 3rem;
  }
}
.ContentGrid_leader__Lxs_4 {
  font-size: 13px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  opacity: 0.75;
  margin: 0 0 1.2rem;
}
@media (max-width: 1600px) {
  .ContentGrid_leader__Lxs_4 {
    font-size: 12px;
  }
}
.ContentGrid_cellGrid__Kk_YM {
  row-gap: 2.5rem;
}
.ContentGrid_cell__PxsPC {
  padding-right: 15%;
}
.ContentGrid_cellRichText__ifMme p {
  opacity: 0.75;
}
.PixelBackground_pixelBackground__NiFeu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/dot.png);
  background-repeat: repeat;
}
.Examples_examples__DnXhv {
  width: 100%;
  position: relative;
}
.Examples_examples__DnXhv .Examples_codeExample___npcA {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: min-content;
  box-shadow: 0 20px 35px -10px rgba(0, 2, 4, 0.2),
    0 6px 4px -4px rgba(0, 2, 4, 0.02);
  aspect-ratio: 16/9;
}
.Examples_examples__DnXhv .Examples_codeWrap__8l8y5 {
  height: 100%;
  width: 100%;
  display: block;
}
.Examples_examples__DnXhv .Examples_codeWrap__8l8y5 > div {
  height: 100%;
  width: 100%;
}
.Examples_examples__DnXhv .Examples_mediaExample__l_Jdm {
  display: block;
  width: 100%;
  background-color: var(--theme-bg);
  box-shadow: 0 20px 35px -10px rgba(0, 2, 4, 0.2),
    0 6px 4px -4px rgba(0, 2, 4, 0.02);
}
.Examples_bg__4BgfQ {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + var(--gutter-h));
  height: 100%;
  margin-left: calc(var(--gutter-h) / -2);
  margin-top: calc(var(--gutter-h) / 2);
  z-index: -1;
}
@media (max-width: 1024px) {
  .Examples_bg__4BgfQ {
    margin-left: calc(var(--gutter-h) * -1);
    margin-top: calc(var(--gutter-h) * 2);
    width: calc(100% + var(--gutter-h) * 2);
  }
}
.Tabs_tabsContainer__ufw8T {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.Tabs_content__a4JY_ {
  text-align: center;
}
.Tabs_navigationWrap__sdd4Y {
  width: 100%;
  overflow-x: auto;
}
.Tabs_tabNavigation__0SyCf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100%;
  border-bottom: 1px solid var(--theme-elevation-200);
}
@media (max-width: 400px) {
  .Tabs_tabNavigation__0SyCf {
    justify-content: flex-start;
  }
}
.Tabs_tabNavigation__0SyCf button {
  padding: 1rem;
  background-color: transparent;
  font-size: var(--font-body);
  color: var(--theme-elevation-500);
  cursor: pointer;
  border: none;
  border-bottom: 2px solid transparent;
}
.Tabs_tabNavigation__0SyCf button:hover {
  color: var(--theme-text);
}
.Tabs_tabNavigation__0SyCf button:focus {
  outline: none;
}
.Tabs_tabNavigation__0SyCf button.Tabs_active___pxZE {
  color: var(--theme-text);
  border-bottom: 2px solid var(--theme-text);
}
.ExampleTabs_exampleTabsBlock__9JSLM {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.ExampleTabs_content__n7ETz {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ExampleTabs_content__n7ETz p {
  max-width: 840px;
}
